
<h1>Edit Mail Template</h1>

<%= simple_form_for @mail_template do |f| %>
  <%= f.input :name, input_html: { readonly: true} %>
  <%= f.input :description, input_html: { readonly: true} %>
  <%= f.input :subject %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :content %>
    </div>
  <% unless @replacement_fields.empty? %>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Replacement Fields</label>
        <p>The following fields are available to use in the email.  Make sure you copy the full field, including the open and closing braces.</p>
        <dl>
          <% @replacement_fields.each do |field, desc| %>
            <dt><%= field %></dt>
            <dd><%= desc %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn btn-link' %>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $('#mail_template_content').markdownEditor({
      preview: true,
      fullscreen: false,
      imageUpload: false,
      height: '300px',
      onPreview: function (content, callback) {
        $.ajax({
          url: 'preview',
          type: 'POST',
          dataType: 'html',
          data: {content: content},
        })
        .done(function(result) {
          // Return the html:
          callback(result);
        });
      }
    });
  });
<% end %>
